@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");

@import '../../MaterialAdminLTE/bower_components/bootstrap/dist/css/bootstrap.css';
@import '../../MaterialAdminLTE/bower_components/font-awesome/css/font-awesome.css';
@import '../../MaterialAdminLTE/bower_components/Ionicons/css/ionicons.css';
@import '../../MaterialAdminLTE/dist/css/AdminLTE.css';
@import '../../MaterialAdminLTE/dist/css/bootstrap-material-design.css';
@import '../../MaterialAdminLTE/dist/css/ripples.css';
@import '../../MaterialAdminLTE/plugins/iCheck/all.css';
@import '../../MaterialAdminLTE/dist/css/MaterialAdminLTE.css';
@import '../../MaterialAdminLTE/dist/css/skins/all-md-skins.css';
@import '../../MaterialAdminLTE/bower_components/morris.js/morris.css';
@import '../../MaterialAdminLTE/bower_components/jvectormap/jquery-jvectormap.css';
@import '../../MaterialAdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import '../../MaterialAdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.scss';
@import '../../MaterialAdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css';
@import '../../MaterialAdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import '../../MaterialAdminLTE/plugins/timepicker/bootstrap-timepicker.css';
@import '../../MaterialAdminLTE/plugins/iCheck/all.css';

form .error {
    font-size: 12px;
    color: red;
    max-height: 5px;
    display: block;
}